<div>
  <app-search-bar (searchEvent)="onSearchEvent()" [(key)]="searchText"></app-search-bar>
  <br>

  <div>
@if (filteredUsers().length > 0) {
  Nombre d'utilisateur: {{ filteredUsers().length }}
} @else {
  Pas d'utilisateur correspondant !
}
</div>
  <div class="list">
    @for (user of filteredUsers(); track user.id) {
      <app-user [user]="user" (click)="openUser(user)" />
      <div>
        <button type="button" (click)="deleteUser(user.id)" mat-flat-button color="warn">Supprimer</button>
      </div>
    }
  </div>

  <br>

  <div>
    Search Text: {{ searchText() }} <br>
    Search Number: {{ searchCount }}
  </div>

  <div>
    <button (click)="addUser()" mat-flat-button>Ajouter</button>
  </div>
</div>
